.cs-option-framework {
  position: relative;
  margin: 20px 20px 0 0;
  height: 100%;
  min-height: 100%;
}

.cs-header {
  background-color: #111;
  padding: 20px;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.cs-header h1 {
  color: #eee;
  float: left;
  line-height: 0;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.cs-header h1 small {
  font-size: 50%;
  color: #777;
}
.cs-header .cs-save {
  float: right;
}

.cs-footer {
  padding: 20px 10px;
  color: #777;
  text-align: right;
  font-size: 11px;
  font-style: italic;
  background-color: #111;
}
.cs-footer .cs-save {
  float: right;
}

.cs-body {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  min-height: 100%;
  background-color: #fff;
}

.cs-nav-background {
  clear: left;
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  width: 180px;
  background-color: #222;
}

.cs-nav-wrap {
  position: relative;
  z-index: 1;
  float: left;
  width: 180px;
}
.cs-nav-wrap ul {
  clear: left;
  margin: 0;
  list-style-type: none;
}
.cs-nav-wrap ul li {
  margin-bottom: 0;
}
.cs-nav-wrap ul li a {
  position: relative;
  outline: none;
  display: block;
  padding: 15px 15px;
  text-decoration: none;
  color: #999;
  background-color: #222;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.cs-nav-wrap ul li a:hover {
  color: #fff;
}
.cs-nav-wrap ul li a:before {
  position: relative;
  top: -2px;
  font-size: 8px;
  content: "\f111";
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 7px;
}
.cs-nav-wrap ul ul {
  display: none;
}

/*
.cs-nav-tab{
  background: #ffb;

  &:hover{
    background: rgba(#0074a2, 0.5);
  }
}

.cs-active .cs-nav-tab{
  background: #0074a2;
}
*/
.cs-sections .section-active a {
  color: #fff;
  background-color: #161616;
}
.cs-sections .section-active a:after {
  right: 0;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-width: 5px;
  top: 50%;
  margin-top: -5px;
  border-right-color: #fff;
}

.cs-content-wrap {
  height: 100%;
  min-height: 100%;
  position: relative;
}
.cs-content-wrap .cs-content {
  float: left;
  width: 100%;
}
.cs-content-wrap .cs-content ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.cs-content-wrap .cs-content ul li {
  margin: 0;
}
.cs-content-wrap .cs-content .cs-content-header {
  margin-bottom: 30px;
  border-bottom: 1px dashed #ddd;
  padding: 10px 0 10px 0;
}
.cs-content-wrap .cs-content .cs-content-header h1 {
  margin: 0;
  line-height: 1em;
}
.cs-content-wrap .cs-content .cs-content-header h1 small {
  display: block;
  color: #999;
  font-weight: normal;
  font-size: 50%;
}

.cs-metabox-framework {
  margin: -6px -12px -12px -12px;
}
.cs-metabox-framework .cs-element-wrap {
  padding: 20px;
}
.cs-metabox-framework .cs-element-wrap .cs-element-title h4 {
  font-size: 13px;
}

.cs-framework-nav li.cs-content-body {
  display: none;
}
.cs-framework-nav .cs-body .cs-content-wrap {
  margin-left: 180px;
}

#side-sortables #element-sidebar {
  text-align: center;
}
#side-sortables .cs-element-title {
  width: 100%;
}
#side-sortables .cs-element-fieldset {
  clear: both;
  float: left;
  width: 100%;
  margin: 0;
}
#side-sortables .cs-element-fieldset input, #side-sortables .cs-element-fieldset textarea, #side-sortables .cs-element-fieldset select {
  max-width: 99%;
}

#save-ajax {
  position: fixed;
  color: #fff;
  background: #000;
  background: rgba(0, 0, 0, 0.7);
  padding: 50px 0;
  text-align: center;
  margin-left: -150px;
  margin-top: -50px;
  width: 300px;
  top: 50%;
  left: 50%;
  z-index: 99;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 0 150px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 0 150px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 150px rgba(0, 0, 0, 0.25);
  display: none;
}

.sticky-header .cs-sticky {
  position: fixed;
  z-index: 10;
  top: 32px;
  border-radius: 0;
  padding: 10px 20px;
  -moz-box-shadow: 0 0 80px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 80px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.5);
}
.sticky-header .cs-sticky h1 {
  font-size: 1.5em;
}

.sticky-header .cs-body {
  padding-top: 50px;
}

@media only screen and (max-width: 959px) {
  .cs-element-wrap .cs-element-title {
    width: 100%;
    margin-bottom: 10px;
  }
  .cs-element-wrap .cs-element-fieldset {
    margin-left: 0;
  }
  .cs-element-wrap .cs-element-fieldset select,
  .cs-element-wrap .cs-element-fieldset input {
    max-width: 100%;
  }
  .cs-element-wrap .field_background input.media-attachment,
  .cs-element-wrap .field_upload input.media-attachment {
    width: 20em;
  }
  .cs-element-wrap .field_select .chosen-container {
    max-width: 100%;
  }
  .cs-element-wrap .field_ui_slider .ui-slider-block {
    max-width: 100%;
  }
  .cs-element-wrap .field_ui_slider .cs-ui-input {
    clear: both;
    margin-top: 10px;
  }

  .column-cs-thumbnail {
    width: 50px;
  }
}
@media only screen and (max-width: 782px) {
  .column-cs-thumbnail,
  .column-taxonomy-portfolio-category,
  .column-taxonomy-portfolio-tag {
    display: none;
  }
}
@media only screen and (max-width: 640px) {
  .sticky-header .cs-header {
    top: 0;
  }

  .cs-header h1 {
    width: 100%;
    text-align: center;
  }
  .cs-header h1 small {
    display: none;
  }
  .cs-header .cs-save {
    text-align: center;
    float: left;
    clear: both;
    width: 100%;
    margin: 10px 0;
  }

  .cs-framework .cs-body .cs-nav-background,
  .cs-framework .cs-body .cs-nav-wrap {
    display: none !important;
    opacity: 0 !important;
  }

  .cs-framework-nav .cs-body .cs-content-wrap {
    margin: 0 20px 0 20px !important;
  }

  .cs-framework-nav li.cs-content-body {
    display: block !important;
  }
}
#widget-list .widget-top {
  -moz-transition: border 0.2s ease-out;
  -o-transition: border 0.2s ease-out;
  -webkit-transition: border 0.2s ease-out;
  transition: border 0.2s ease-out;
}
#widget-list div[id*="_cs_widget-__i__"] .widget-top {
  position: relative;
  border: 1px solid rgba(0, 116, 162, 0.3);
}
#widget-list div[id*="_cs_widget-__i__"] .widget-top:hover {
  border: 1px solid #0074a2 !important;
}
#widget-list div[id*="_cs_widget-__i__"] .widget-top:after {
  top: 3px;
  right: 3px;
  line-height: 1;
  font-size: 75%;
  color: #ffffff;
  display: inline;
  content: "Route";
  font-weight: bold;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  pointer-events: none;
  padding: .2em .6em .3em;
  vertical-align: baseline;
  background-color: #428bca;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.widget-content .cs-element-wrap {
  position: relative;
  top: -1px;
  margin-right: -15px;
  margin-left: -15px;
  padding: 12px 15px;
}
.widget-content .cs-element-wrap:last-child {
  margin-bottom: 15px;
  border-bottom: 1px solid #eee !important;
}
.widget-content .cs-element-wrap .cs-element-title h4 {
  float: none;
  width: 100%;
  font-size: 13px;
  margin-bottom: 5px;
}
.widget-content .cs_field_select select {
  width: 100%;
}
.widget-content .cs_field_text input {
  width: 100%;
}
.widget-content .cs_field_upload input {
  width: 210px !important;
}

.column-taxonomy-portfolio-category,
.column-taxonomy-portfolio-tag {
  width: 15%;
}

.column-cs-thumbnail {
  width: 50px;
  text-align: center;
}

#menu-to-edit .cs-last {
  margin-right: 0;
}
#menu-to-edit .description-thin {
  height: auto;
}
#menu-to-edit .menu-item-depth-0 .field-content {
  display: none;
}
#menu-to-edit .cs-mega-column,
#menu-to-edit .cs-mega-menu {
  float: left;
  width: 390px;
  margin: 15px 10px 15px 0;
  padding: 5px 0;
  border-top: 1px dashed #ccc;
  border-bottom: 1px dashed #ccc;
}
#menu-to-edit .cs-mega-column select,
#menu-to-edit .cs-mega-menu select {
  width: 100%;
}
#menu-to-edit .field-highlight-type select {
  width: 100%;
  margin: 0;
}
#menu-to-edit .mega-depend-position,
#menu-to-edit .mega-depend-width,
#menu-to-edit .field-mega-width,
#menu-to-edit .field-mega {
  width: 100%;
  float: left;
  margin: 5px 0;
}
#menu-to-edit .cs-mega-menu,
#menu-to-edit .cs-mega-column,
#menu-to-edit .field-mega-width,
#menu-to-edit .item-mega,
#menu-to-edit .item-mega-column {
  display: none;
}
#menu-to-edit .item-mega,
#menu-to-edit .item-mega-column {
  font-size: 12px;
  padding: 12px 10px;
  line-height: 18px;
}
#menu-to-edit .menu-item-transport .item-mega,
#menu-to-edit .menu-item-depth-0.active-mega-menu .item-type,
#menu-to-edit .menu-item-depth-1.active-mega-column .item-type {
  display: none !important;
}
#menu-to-edit .menu-item-depth-0 .cs-mega-menu,
#menu-to-edit .menu-item-depth-0.active-mega-menu .field-mega-width,
#menu-to-edit .menu-item-depth-0.active-mega-menu .item-mega,
#menu-to-edit .menu-item-depth-1.active-mega-column .cs-mega-column,
#menu-to-edit .menu-item-depth-1.active-mega-column .item-mega-column {
  display: block;
}
#menu-to-edit .menu-item-depth-1 .menu-item-transport .item-mega-column {
  display: none !important;
}

.cs_field_text input {
  width: 25em;
}
.cs_field_text .text-security {
  -webkit-text-security: disc;
  text-security: disc;
}

.cs_field_number input {
  width: 70px;
}
.cs_field_number i {
  margin-left: 5px;
  color: #bbb;
}

.cs_field_textarea textarea {
  width: 100%;
  max-width: 100%;
  min-height: 125px;
}
.cs_field_textarea .cs-textarea-mini {
  min-height: 44px;
}

.cs_field_select select {
  width: 300px;
}
.cs_field_select .chosen-container {
  width: 300px !important;
}
.cs_field_select .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  height: 25px;
}

.cs_field_on_off .cs-text-desc {
  display: inline-block;
  margin-left: 5px;
  margin-top: 3px;
}
.cs_field_on_off .switch {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 56px;
  height: 20px;
  padding: 3px;
  background-color: white;
  border-radius: 18px;
  box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  background-image: -webkit-linear-gradient(top, #eeeeee, white 25px);
  background-image: -moz-linear-gradient(top, #eeeeee, white 25px);
  background-image: -o-linear-gradient(top, #eeeeee, white 25px);
  background-image: linear-gradient(to bottom, #eeeeee, #ffffff 25px);
}
.cs_field_on_off .switch-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.cs_field_on_off .switch-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 10px;
  text-transform: uppercase;
  background: #eceeef;
  border-radius: inherit;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
  -webkit-transition-property: opacity background;
  -moz-transition-property: opacity background;
  -o-transition-property: opacity background;
  transition-property: opacity background;
}
.cs_field_on_off .switch-label:before, .cs_field_on_off .switch-label:after {
  position: absolute;
  top: 50%;
  margin-top: -.5em;
  line-height: 1;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}
.cs_field_on_off .switch-label:before {
  content: attr(data-off);
  right: 11px;
  color: #aaa;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.cs_field_on_off .switch-label:after {
  content: attr(data-on);
  left: 11px;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  opacity: 0;
}
.cs_field_on_off .switch-input:checked ~ .switch-label {
  background: #47a8d8;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.cs_field_on_off .switch-input:checked ~ .switch-label:before {
  opacity: 0;
}
.cs_field_on_off .switch-input:checked ~ .switch-label:after {
  opacity: 1;
}
.cs_field_on_off .switch-handle {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 18px;
  height: 18px;
  background: white;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  background-image: -webkit-linear-gradient(top, white 40%, #f0f0f0);
  background-image: -moz-linear-gradient(top, white 40%, #f0f0f0);
  background-image: -o-linear-gradient(top, white 40%, #f0f0f0);
  background-image: linear-gradient(to bottom, #ffffff 40%, #f0f0f0);
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}
.cs_field_on_off .switch-handle:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -6px;
  width: 12px;
  height: 12px;
  background: #f9f9f9;
  border-radius: 6px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
  background-image: -webkit-linear-gradient(top, #eeeeee, white);
  background-image: -moz-linear-gradient(top, #eeeeee, white);
  background-image: -o-linear-gradient(top, #eeeeee, white);
  background-image: linear-gradient(to bottom, #eeeeee, #ffffff);
}
.cs_field_on_off .switch-input:checked ~ .switch-handle {
  left: 40px;
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}
.cs_field_on_off .switch-green > .switch-input:checked ~ .switch-label {
  background: #4fb845;
}

.cs_field_image_select label {
  display: inline-block;
  padding: 5px;
}
.cs_field_image_select label img {
  vertical-align: bottom;
  border: 3px solid #e1e1e1;
  -moz-transition: border 0.2s ease-out;
  -o-transition: border 0.2s ease-out;
  -webkit-transition: border 0.2s ease-out;
  transition: border 0.2s ease-out;
}
.cs_field_image_select label.selected img {
  border: 3px solid #444;
}
.cs_field_image_select input {
  display: none;
}

.cs_field_skin_select label {
  position: relative;
  display: inline-block;
  padding: 5px;
}
.cs_field_skin_select label .cs-scheme {
  text-align: center;
  display: inline-block;
  width: 100px;
  height: 60px;
  border: 2px solid #ffffff;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  background-color: #555;
}
.cs_field_skin_select label .scheme-default {
  background-color: #e1e1e1;
}
.cs_field_skin_select label .scheme-blue {
  background-color: #428bca;
}
.cs_field_skin_select label .scheme-green {
  background-color: #5cb85c;
}
.cs_field_skin_select label .scheme-red {
  background-color: #d9534f;
}
.cs_field_skin_select label .scheme-yellow {
  background-color: #f0ad4e;
}
.cs_field_skin_select label .scheme-custom {
  background-color: #999999;
}
.cs_field_skin_select label .scheme-title {
  background-color: #000000;
  color: #fff;
  padding: 2px 5px;
  font-size: 75%;
  margin-top: 20px;
  display: inline-block;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.cs_field_skin_select label.selected .cs-scheme {
  border: 2px solid #000000;
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.cs_field_skin_select label .dashicons {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #ddd;
}
.cs_field_skin_select label .dashicons:hover {
  color: #fff;
}
.cs_field_skin_select input {
  display: none;
}

#cs-reset-customize .cs-spinner {
  display: inline-block;
  float: none;
  margin: 0 5px 0 0;
  vertical-align: text-top;
}
#cs-reset-customize .status-scheme {
  margin-right: 5px;
}

.cs-custmize-title {
  border-width: 1px 0;
  border-style: solid;
  padding: 5px 0 5px 20px;
  margin: 5px -20px;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  color: #555;
  border-color: #eee;
  background-color: #f5f5f5;
}

.cs-customize-desc {
  margin: 5px 0;
  color: #aaa;
  font-size: 11px;
}

#customize-theme-controls .cs-label {
  position: relative;
  top: -1px;
  font-size: 9px;
  padding: 1px 2px;
}

.cs_field .ui-helper-hidden {
  display: none;
}
.cs_field .ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}
.cs_field .ui-helper-clearfix:before,
.cs_field .ui-helper-clearfix:after {
  content: "";
  display: table;
  border-collapse: collapse;
}
.cs_field .ui-helper-clearfix:after {
  clear: both;
}
.cs_field .ui-helper-clearfix {
  min-height: 0;
}
.cs_field .ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
}
.cs_field .ui-front {
  z-index: 100;
}
.cs_field .ui-state-disabled {
  cursor: default !important;
}
.cs_field .ui-icon {
  display: block;
  text-indent: 0;
  overflow: hidden;
  background-repeat: no-repeat;
}
.cs_field .ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.cs_field .ui-corner-br,
.cs_field .ui-corner-tr,
.cs_field .ui-corner-top,
.cs_field .ui-corner-bottom,
.cs_field .ui-corner-all {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.cs_field_ui_slider {
  padding-top: 10px;
}
.cs_field_ui_slider .ui-slider-block {
  float: left;
  margin-right: 10px;
  width: 25em;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.cs_field_ui_slider .cs-ui-input {
  float: left;
  margin-top: -10px;
}
.cs_field_ui_slider .cs-ui-input small {
  font-style: italic;
  color: #aaa;
}
.cs_field_ui_slider .ui-state-default,
.cs_field_ui_slider .ui-widget-header {
  border: 1px solid #bce8f1;
  background: #d9edf7;
}
.cs_field_ui_slider .ui-widget-content,
.cs_field_ui_slider .ui-state-active,
.cs_field_ui_slider .ui-state-hover {
  border: 1px solid #bce8f1;
  background: #fff;
}
.cs_field_ui_slider .ui-state-focus {
  outline: none;
}
.cs_field_ui_slider .ui-slider {
  position: relative;
  text-align: left;
}
.cs_field_ui_slider .ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1em;
  height: 1em;
  cursor: default;
  -moz-border-radius: 100% !important;
  -webkit-border-radius: 100%;
  border-radius: 100% !important;
}
.cs_field_ui_slider .ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: 1em;
  display: block;
  border: 0;
}
.cs_field_ui_slider .ui-slider-horizontal {
  height: .3em;
}
.cs_field_ui_slider .ui-slider-horizontal .ui-slider-handle {
  top: -.4em;
  margin-left: -.6em;
}
.cs_field_ui_slider .ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}
.cs_field_ui_slider .ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}
.cs_field_ui_slider .ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}

.cs_field_dimensions small,
.cs_field_ui_spinner small {
  margin-left: 5px;
  font-style: italic;
  color: #aaa;
}
.cs_field_dimensions .ui-widget-content,
.cs_field_ui_spinner .ui-widget-content {
  border: 1px solid #ddd;
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
  background: #fff;
}
.cs_field_dimensions .ui-state-default,
.cs_field_ui_spinner .ui-state-default {
  color: #aaa;
  border: 1px solid #ddd;
  background: #efefef;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmZWZlZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y1ZjVmNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #efefef), color-stop(100%, #f5f5f5));
  background-image: -moz-linear-gradient(bottom, #efefef, #f5f5f5);
  background-image: -webkit-linear-gradient(bottom, #efefef, #f5f5f5);
  background-image: linear-gradient(to top, #efefef, #f5f5f5);
}
.cs_field_dimensions .ui-state-hover,
.cs_field_dimensions .ui-state-focus,
.cs_field_ui_spinner .ui-state-hover,
.cs_field_ui_spinner .ui-state-focus {
  color: #ccc;
  border: 1px solid #ddd;
  background: #fefefe;
  outline: none;
}
.cs_field_dimensions .ui-corner-all,
.cs_field_ui_spinner .ui-corner-all {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.cs_field_dimensions .ui-spinner,
.cs_field_ui_spinner .ui-spinner {
  position: relative;
  display: inline-block;
  overflow: hidden;
  padding: 0;
  vertical-align: middle;
}
.cs_field_dimensions .ui-spinner-input,
.cs_field_ui_spinner .ui-spinner-input {
  border: none;
  background: none;
  color: inherit;
  padding: 3px 5px 2px 5px;
  vertical-align: middle;
  border: 0 !important;
  box-shadow: none !important;
}
.cs_field_dimensions .ui-spinner-button,
.cs_field_ui_spinner .ui-spinner-button {
  width: 20px;
  height: 50%;
  font-size: .5em;
  padding: 0;
  margin: 0;
  text-align: center;
  position: absolute;
  cursor: default;
  display: block;
  overflow: hidden;
  right: 0;
}
.cs_field_dimensions .ui-spinner a.ui-spinner-button,
.cs_field_ui_spinner .ui-spinner a.ui-spinner-button {
  border-top: none;
  border-bottom: none;
  border-right: none;
}
.cs_field_dimensions .ui-spinner .ui-icon,
.cs_field_ui_spinner .ui-spinner .ui-icon {
  position: absolute;
  margin-top: -8px;
  top: 50%;
  left: 50%;
  margin-left: -9px;
}
.cs_field_dimensions .ui-spinner-up,
.cs_field_ui_spinner .ui-spinner-up {
  top: 0;
}
.cs_field_dimensions .ui-spinner-down,
.cs_field_ui_spinner .ui-spinner-down {
  bottom: 0;
}

.cs_field_color_picker ul li {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}
.cs_field_color_picker ul li .color-label {
  vertical-align: top;
  display: inline-block;
  margin-right: 5px;
  margin-top: 3px;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  color: #aaa;
}
.cs_field_color_picker .cs-alpha-wrap {
  display: none;
  position: relative;
  top: -1px;
  width: 235px;
  padding: 9px 10px;
  border: 1px solid #dfdfdf;
  border-top: none;
  background-color: #fff;
}
.cs_field_color_picker .cs-alpha-slider {
  position: absolute;
  width: 190px;
  margin-left: 2px;
  height: 18px;
}
.cs_field_color_picker .cs-alpha-slider .ui-slider-handle {
  position: absolute;
  top: -3px;
  bottom: -3px;
  z-index: 5;
  border-color: #aaa;
  border-style: solid;
  border-width: 4px 3px;
  width: 10px;
  height: 16px;
  margin: 0 -5px;
  background: none;
  cursor: ew-resize;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.cs_field_color_picker .cs-alpha-slider .ui-slider-handle:before {
  content: " ";
  position: absolute;
  left: -2px;
  right: -2px;
  top: -3px;
  bottom: -3px;
  border: 2px solid #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.cs_field_color_picker .cs-alpha-slider-offset {
  height: 18px;
  width: 200px;
  background: url(../images/checkerboard.png) repeat-y center left scroll #fff;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4) inset;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4) inset;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4) inset;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.cs_field_color_picker .cs-alpha-text {
  position: absolute;
  top: 12px;
  right: 10px;
  width: 30px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #999;
}

.cs_field_upload input.media-attachment {
  width: 30em;
}
.cs_field_upload .cs-upload-preview img {
  border: 1px solid #e1e1e1;
  padding: 5px;
  max-width: 138px;
}

.cs_field_background input.media-attachment {
  width: 30em;
}
.cs_field_background ul.field-background {
  margin: 0;
  padding: 0;
  margin-top: 7px;
}
.cs_field_background ul.field-background li {
  display: inline-block;
  margin-right: 7px;
  vertical-align: top;
}
.cs_field_background ul.field-background li li {
  margin-right: 0;
}
.cs_field_background ul.field-background li select {
  width: inherit;
}
.cs_field_background ul.field-background li.bg-parallax-speed {
  padding-top: 0.1em;
}
.cs_field_background ul.field-background li.bg-color-picker {
  padding-top: 0.23em;
}
.cs_field_background ul.field-background li.bg-color-opacity {
  padding-top: 0.25em;
}
.cs_field_background ul.field-background small {
  color: #aaa;
  font-style: italic;
}

.cs_field_dimensions .cs-dimensions {
  margin: 0;
  padding: 0;
}
.cs_field_dimensions .cs-dimensions li {
  display: inline-block;
  margin-right: 10px;
}
.cs_field_dimensions .cs-dimensions li .cs-dimensions-title {
  margin-right: 5px;
  margin-bottom: 5px;
  text-align: center;
}
.cs_field_dimensions .cs-dimensions li .dashicons {
  vertical-align: middle;
}
.cs_field_dimensions .cs-dimensions li select {
  width: inherit;
  vertical-align: baseline;
}

.cs_field_typography .chosen-container {
  width: 150px !important;
}
.cs_field_typography .chosen-container .search-field input {
  height: 25px !important;
}
.cs_field_typography .cs-family .chosen-container {
  width: 250px !important;
  margin-right: 10px;
}
.cs_field_typography li {
  display: inline-block;
  margin-top: 5px;
}
.cs_field_typography li .cs-typography-title {
  margin-right: 5px;
}
.cs_field_typography li.cs-typography-color {
  margin-top: 7px;
  vertical-align: top;
}
.cs_field_typography li.hidden {
  display: none;
}
.cs_field_typography .typography-preview {
  margin: 10px 0;
  padding: 1em;
  line-height: 1em;
  border: 1px dashed #e1e1e1;
}

.cs_field_editor .wp-editor-wrap {
  float: left;
  width: 100%;
}

.cs_field_group {
  /* UI Accordion Styles */
}
.cs_field_group .cs-element-wrap {
  clear: none;
}
.cs_field_group .cs-field-group {
  margin: 0 auto 10px;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.cs_field_group .cs-field-group h3 {
  color: #555;
  -moz-transition: border 0.2s ease-out;
  -o-transition: border 0.2s ease-out;
  -webkit-transition: border 0.2s ease-out;
  transition: border 0.2s ease-out;
}
.cs_field_group .cs-field-group h4 {
  font-size: 1em;
}
.cs_field_group .cs-remove-group {
  text-align: right;
  margin: 20px;
}
.cs_field_group .ui-widget-content {
  border: 1px solid #e5e5e5;
  background: #fff;
}
.cs_field_group .ui-icon {
  color: #bbb;
}
.cs_field_group .ui-widget-header {
  border: 1px solid #e5e5e5;
  background: #fafafa;
}
.cs_field_group .ui-state-default,
.cs_field_group .ui-widget-content .ui-state-default,
.cs_field_group .ui-widget-header .ui-state-default {
  border: 1px solid #e5e5e5;
  background: #fafafa;
}
.cs_field_group .ui-state-focus,
.cs_field_group .ui-widget-content .ui-state-focus,
.cs_field_group .ui-widget-header .ui-state-focus {
  border: 1px solid #e5e5e5;
  background: #fafafa;
  outline: none;
}
.cs_field_group .ui-state-hover,
.cs_field_group .ui-widget-content .ui-state-hover,
.cs_field_group .ui-widget-header .ui-state-hover {
  border-color: #bbb;
}
.cs_field_group .ui-state-active,
.cs_field_group .ui-widget-content .ui-state-active,
.cs_field_group .ui-widget-header .ui-state-active {
  border: 1px solid #e5e5e5;
  background: #fafafa;
}
.cs_field_group .ui-accordion .ui-accordion-header {
  display: block;
  cursor: pointer;
  position: relative;
  margin: 2px 0 0 0;
  padding: 15px;
  min-height: 0;
  font-size: 100%;
}
.cs_field_group .ui-accordion .ui-accordion-icons {
  padding-left: 2.2em;
}
.cs_field_group .ui-accordion .ui-accordion-icons .ui-accordion-icons {
  padding-left: 2.2em;
}
.cs_field_group .ui-accordion .ui-accordion-header .ui-accordion-header-icon {
  position: absolute;
  left: .5em;
  top: 50%;
  margin-top: -10px;
}
.cs_field_group .ui-accordion .ui-accordion-content {
  padding: 0;
  border-top: 0;
}
.cs_field_group .ui-sortable-helper .cs-field-content {
  display: none !important;
}

.cs_field_backup textarea {
  width: 100%;
  max-width: 100%;
  min-height: 200px;
}
.cs_field_backup hr {
  margin: 30px 0;
}
.cs_field_backup .cs-reset-all {
  background: #e14d43 !important;
  border-color: #d02a21 !important;
  color: white !important;
  -moz-box-shadow: inset 0 1px 0 #ec8a85, 0 1px 0 rgba(0, 0, 0, 0.15) !important;
  -webkit-box-shadow: inset 0 1px 0 #ec8a85, 0 1px 0 rgba(0, 0, 0, 0.15) !important;
  box-shadow: inset 0 1px 0 #ec8a85, 0 1px 0 rgba(0, 0, 0, 0.15) !important;
}

.cs_field_icon .icon-preview {
  margin-right: 3px;
}
.cs_field_icon .icon-preview span {
  width: 27px;
  height: 27px;
  line-height: 28px;
  text-align: center;
  border: 1px solid #ccc;
  display: inline-block;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  font-size: 14px;
  color: #555;
}
.cs_field_icon .icon-preview span:hover {
  border-color: #222;
  background-color: #222;
  color: #fff;
}

.cs-element-wrap {
  clear: both;
  padding: 30px;
  border-bottom: 1px solid #eee;
}
.cs-element-wrap:hover {
  background-color: #f9f9f9;
}
.cs-element-wrap p:last-child {
  margin-bottom: 0 !important;
}
.cs-element-wrap:last-child {
  border-bottom: 0 !important;
}
.cs-element-wrap .cs-element-title {
  position: relative;
  width: 28%;
  float: left;
}
.cs-element-wrap .cs-element-title h4 {
  font-size: 15px;
  margin: 0;
}
.cs-element-wrap .cs-element-title h4 em {
  font-size: 80%;
  color: #999;
}
.cs-element-wrap .cs-element-fieldset {
  margin-left: 30%;
}
.cs-element-wrap .cs-element-fieldset .cs-text-desc {
  font-size: 12px;
}
.cs-element-wrap .cs-element-fieldset .cs-color-wrap {
  margin: 0;
}
.cs-element-wrap .cs-element-fieldset .cs-color-wrap li {
  margin-bottom: 0;
}
.cs-element-wrap .cs-element-horizontal li {
  display: inline-block;
  margin-right: 20px;
}

#element-logo2x img {
  max-width: 276px;
}

.cs-button-remove {
  margin-left: 3px !important;
  background: #e14d43 !important;
  border-color: #d02a21 !important;
  color: white !important;
  -moz-box-shadow: inset 0 1px 0 #ec8a85, 0 1px 0 rgba(0, 0, 0, 0.15) !important;
  -webkit-box-shadow: inset 0 1px 0 #ec8a85, 0 1px 0 rgba(0, 0, 0, 0.15) !important;
  box-shadow: inset 0 1px 0 #ec8a85, 0 1px 0 rgba(0, 0, 0, 0.15) !important;
}

.cs-shortcode-dialog {
  z-index: 100001 !important;
}

.cs-icon-dialog {
  z-index: 100002 !important;
}

#icon-overlay,
#shortcode-overlay {
  position: fixed;
  z-index: 100000;
  top: 0;
  left: 0;
  height: 100%;
  min-height: 100%;
  width: 100%;
  background: #000;
  opacity: 0.7;
  display: none;
}

#dialog-shadow-down,
#dialog-shadow-up {
  width: 100%;
  height: 20px;
  overflow: hidden;
  position: relative;
}
#dialog-shadow-down:after,
#dialog-shadow-up:after {
  width: 100%;
  height: 8px;
  content: "";
  position: absolute;
  left: 0;
  border-radius: 520px / 8px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
}

#dialog-shadow-up {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
}
#dialog-shadow-up:after {
  top: -10px;
}

#dialog-shadow-down {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.03) inset;
}
#dialog-shadow-down:after {
  top: 22px;
}

#dialog-header-wrap {
  width: 100%;
  padding-bottom: 16px;
}

#dialog-insert-button {
  text-align: center;
}
#dialog-insert-button .button-large {
  margin-top: 15px;
}

#icon-dialog {
  display: none;
  background: #fff;
}
#icon-dialog #dialog-header-wrap {
  text-align: center;
}
#icon-dialog #dialog-header-wrap input {
  width: 50%;
  line-height: 30px;
}
#icon-dialog #icon-load {
  overflow-x: hidden;
  overflow-y: auto;
  margin-right: 10px;
  padding: 0 10px;
}
#icon-dialog #icon-load a {
  -moz-transition: border 0.2s ease, box-shadow 0.2s ease;
  -o-transition: border 0.2s ease, box-shadow 0.2s ease;
  -webkit-transition: border 0.2s ease, box-shadow 0.2s ease;
  transition: border 0.2s ease, box-shadow 0.2s ease;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  margin: 5px;
  border: 1px solid #e1e1e1;
  color: #555;
  outline: none;
  text-align: center;
  font-size: 14px;
  width: 21px;
  height: 21px;
  line-height: 23px;
}
#icon-dialog #icon-load .active-icon,
#icon-dialog #icon-load a:hover {
  -moz-box-shadow: 0 0 20px rgba(77, 191, 217, 0.4);
  -webkit-box-shadow: 0 0 20px rgba(77, 191, 217, 0.4);
  box-shadow: 0 0 20px rgba(77, 191, 217, 0.4);
  border: 1px solid #4dbfd9;
}
#icon-dialog #icon-load h4 {
  margin: 15px 0 5px 5px;
}
#icon-dialog #icon-load h4:first-child {
  margin-top: 0;
}
#icon-dialog .icon-set-title {
  font-weight: bold;
  font-size: 14px;
  padding-bottom: 7px;
  margin: 0 5px 7px 5px;
  border-bottom: 1px solid transparent;
}
#icon-dialog .icon-set-im {
  margin-top: 15px;
  color: #5cb85c;
  border-color: #d8eed8;
}
#icon-dialog .icon-set-fa {
  margin-top: 15px;
  color: #428bca;
  border-color: #cde1f1;
}

#shortcode-dialog {
  display: none;
  background: #fff;
}
#shortcode-dialog #shortcode-load {
  overflow-x: hidden;
  overflow-y: auto;
}
#shortcode-dialog #dialog-header-wrap #shortcode-select {
  width: 250px;
  padding: 10px;
  height: 40px;
}
#shortcode-dialog #dialog-header-wrap .chosen-container {
  width: 300px !important;
  margin-left: -150px;
  left: 50%;
}
#shortcode-dialog .shortcode-clone {
  border: 1px dashed #ccc;
  margin-bottom: 10px;
  padding: 15px;
  position: relative;
}
#shortcode-dialog .shortcode-clone .remove-clone {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px;
  color: #ccc;
  text-decoration: none;
  outline: none;
}
#shortcode-dialog .shortcode-clone .remove-clone:hover {
  color: #555;
}
#shortcode-dialog h4 {
  font-size: 13px;
}
#shortcode-dialog h4 small {
  font-style: italic;
  font-weight: 400;
  color: #aaa;
}
#shortcode-dialog .cs-element-wrap {
  padding: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.shortcode-button span.dashicons-menu {
  display: inline-block;
  width: auto;
  height: auto;
  line-height: inherit;
  margin: 0 2px;
}

/*
  Custom Gallery Settings
*/
.gallery-settings .cs-settings {
  position: relative;
}
.gallery-settings .cs-settings .cs-label {
  position: absolute;
  right: 21px;
  top: -15px;
  padding: 3px;
}

#cs-gallery-scale .cs-text-desc {
  margin-top: 5px;
}

#toplevel_page_route .wp-menu-image:before {
  content: "\f108";
}

#accordion-section-cs_reset_customize h3 {
  color: #cc0000 !important;
}

#cs-one-click .cs-spinner {
  float: left;
  margin-top: 5px;
}

body.toplevel_page_route {
  overflow-y: scroll;
}

#element-typography .cs-title {
  display: none;
}

#element-typography .cs-field-group {
  position: relative;
}
#element-typography .cs-field-group:after {
  top: 16px;
  right: 10px;
  line-height: 1;
  font-size: 10px;
  color: #ffffff;
  display: inline;
  content: 'custom';
  font-weight: bold;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  pointer-events: none;
  padding: 4px;
  vertical-align: baseline;
  background-color: #5cb85c;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

#headings-typography:after,
#sub-menu-typography:after,
#menu-typography:after,
#body-typography:after {
  content: 'default' !important;
  background-color: #428bca !important;
}
#headings-typography #element-css,
#headings-typography #element-title,
#headings-typography #element-selector,
#headings-typography .cs-remove-group,
#sub-menu-typography #element-css,
#sub-menu-typography #element-title,
#sub-menu-typography #element-selector,
#sub-menu-typography .cs-remove-group,
#menu-typography #element-css,
#menu-typography #element-title,
#menu-typography #element-selector,
#menu-typography .cs-remove-group,
#body-typography #element-css,
#body-typography #element-title,
#body-typography #element-selector,
#body-typography .cs-remove-group {
  display: none;
}

#menu-typography #element-line_height,
#headings-typography #element-line_height,
#headings-typography #element-size {
  display: none;
}

.menu_pto {
  display: none;
}

.rs-update-notice-wrap,
.vc_license-activation-notice {
  display: none;
}

.cs-spinner {
  display: none;
  background: url(../images/spinner.gif) no-repeat;
  background-size: 20px 20px;
  opacity: 0.7;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
}
